<h1>新增分數</h1>
<div class="alert alert-info" role="alert" style="width: 90%; margin: auto;">
  <%= @motivatied_word %>
</div>
<div class="col-12">
<%= render 'form', grade: @grade %>
</div>
<%= link_to '上一頁', grades_path,  { :class=>"btn btn-success" }%>
